<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.kaushikdev.weatherApp"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>WeatherApp</name>
  <platform name="ios" />
  <platform name="android" />
  <platform name="winphone" />
  <description>
      Old classic game of Arkanoid!!!
  </description>

  <author href="https://kaushikdev.github.io/portfolio" email="piyush.kaushik02@gmail.com">
      Piyush Kaushik
  </author>
   <icon src="ldpi.png" platform="android" qualifier="ldpi" />
<platform name="android">
	<icon density="hdpi" src="res/icon/android/mipmap-hdpi/ic_launcher.png" />
	<icon density="ldpi" src="res/icon/android/mipmap-ldpi/ic_launcher.png" />
	<icon density="mdpi" src="res/icon/android/mipmap-mdpi/ic_launcher.png" />
	<icon density="xhdpi" src="res/icon/android/mipmap-xhdpi/ic_launcher.png" />
	<icon density="xxhdpi" src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" />
	<icon density="xxxhdpi" src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" />
	
</platform>

</widget>
