*{
    margin:0;
    padding:0;
}

.container{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#searchContainer{
    margin: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchBox{
    flex-grow: 1;
}

.searchControl{
    box-shadow: 5px 5px 5px black;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    border: none;
    font-size: 1em;
}

#weather-card{
    visibility: hidden;
    width: 50%;
    background-color: rgba(0,0,0,0.25);
    padding:10px;
    box-shadow: 7px 7px 15px #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #weather-primary-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #weather-primary-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .weather-line-height{
      margin: 5px 0 5px 0;
      color: #fff;
      text-shadow:  1px 1px 2px #000;
  }

  #weather-primary-img{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #displayIcon{
      height: inherit;
      border: 5px solid rgba(0,0,0,0.25);
      border-radius: 10px;
box-shadow: 2px 2px 5px #000;

  }

  hr{
    margin: 20px 0 20px 0 ;
    border-color: rgba(0,0,0,0.25);
  }


  #weather-secondary-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  footer{
    margin: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

@media screen and (min-width: 300px) and (max-width:728px){
  .container{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
    #searchContainer{
        margin: 20px;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .searchControl{
        box-shadow: 5px 5px 5px black;
        margin: 10px;
        padding: 5px;
        border-radius: 2px;
        border: none;
        font-size: 0.85em;
    }
           
    #weather-card{
        visibility: hidden;
        width: 80%;
        background-color: rgba(0,0,0,0.25);
        padding:10px;
        box-shadow: 7px 7px 15px #000;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
  
    
      .weather-line-height{
          margin: 5px 0 5px 0;
          color: #fff;
          text-shadow: 2px 2px 2px #000;
      }
    
      #weather-primary-img{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    
}