
body{
    background: #20D7FF;
}


.card{
    background-color: rgba(0, 0, 0, 0.25);
    padding:10px;
    box-shadow: 5px 15px 15px black;
    width: 90%;
    border-radius: 5px;
    margin: 50px auto;
    visibility: hidden;
  }



#searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchBox{
    flex-grow: 1;
}
.searchControl{
    box-shadow: 5px 5px 5px black;
    margin: 10px;
    border-radius: 2px;
    border: none;
    height: 2em;
}


#displayTemperature{
    font-size: 2em;
    margin: 10px;
    }

#displayCurrent{
    font-size: 1.5em;
}    
  

#displayForecastDays{
font-size: 1em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

.card-mini{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#displayForecastDays img{
    height: 75px;
    width: 75px;
}

.insideMiniCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    color: #6A7178;
    }

    label{
        width: 100%;
        color: #fff;
        background: rgba(0,0,0,0.75);
        text-align: center;
    }
    
    .low{
    color:#20D7FF;
    font-size:1.5em;
    }
    
   .average{
    color:#fff;
    font-size:2em;
    }
    
    .high{
    color:orange;
    font-size:1.5em;
    }   